
@using CRUD.Models
@model Dish

<h2>Enter information about yourDish</h2>
<form asp-action="Create"asp-controller="Home"method="post">
    <p>
        <span style="color: red"asp-validation-for="Chef"></span>
        <label asp-for="Chef">Chef Name</label>
        <input type="text" asp-for="Chef" placeholder="Please Enter Dish Name"/>
    </p>
    <p>
        <span style="color: red" asp-validation-for="Name"></span>
        <label asp-for="Name">Dish Name</label>
        <input type="text" asp-for="Name" placeholder=""/>
    </p>
    <p>
        <span  style="color: red" asp-validation-for= "Description"></span>
        <label asp-for= "Description">Description</label>
        <input type="text" asp-for="Description" placeholder=""/>
        
    </p>
    <p>
        <span style="color: red" asp-validation-for="Calories"></span>
        <label asp-for="Calories">Calories</label>
        <input type="number" asp-for="Calories" placeholder=""/>
    </p>
    <p>
        <span style="color: red" asp-validation-for="Tastiness"></span>
        <label asp-for="Tastiness">Level of Tastiness</label>
        <select asp-for="Tastiness">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </p>
    <p><input type="submit" value="Add Dish" /> </p>
</form>